*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}

section{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create_container{
    width: 80%;
}

.create_input{
    padding: 12px 5px;
    font-size: 18px;
    width: 80%;
}

.create_button{
    padding: 17px 20px;
    background-color: blanchedalmond;
    border: 1px solid palegoldenrod;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    
}

.create_button:active{
    border: 1px solid palevioletred;
    box-shadow: 2px 2px 5px 3px papayawhip;
    cursor: pointer;
}

.todo_container{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.todo_item{
    border: 1px solid gray;
    border-radius: 5px;
    width: 24%;
    padding: 10px 15px;
    background-color: ivory;
}

.todo_item.done{
    background-color: ivory;
    text-decoration: line-through;
    color: khaki;
}

.todo_item.done h4, .todo_item.done p, .todo_item.done span{
    color: lavender;

}

.todo_item.done img{
    opacity: 0.5;
}

.todo_item.marked{
    background-color: lavender;
    border: 2px solid ivory;
}

.todo_item.header{
    display: flex;
    align-items: center;
    min-height: 35px;
}

.todo_item.header h4{
    font-size: 18px;
    font-family: sans-serif;
}

.todo_item_footer{
    display: flex;
    justify-content: center;
}

.todo_item_footer p{
    font-size: 15px;
    font-family: sans-serif;
}

.todo_item_footer.action_button{
    display: flex;
}
.todo_item_footer img{
    width: 25px;
    height: 25px
    margin: 0 5px;
    cursor: pointer;;
}